[submodule "CamEfficientDet"]
	path = CamEfficientDet
	url = https://github.com/kikefdezl/CamEfficientDet.git
[submodule "RadEfficientDet"]
	path = RadEfficientDet
	url = https://github.com/kikefdezl/RadEfficientDet.git
