[submodule "nuscenes-devkit"]
	path = nuscenes-devkit
	url = https://github.com/kikefdezl/nuscenes-devkit.git
[submodule "nuscenes"]
	path = nuscenes
	url = https://github.com/kikefdezl/nuscenes-devkit.git
